body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #d2b48c, #8b4513);
}


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth-form {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

.Auth-form-content {
  text-align: center;
}

.Auth-form-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.d-grid {
  display: grid;
}

.gap-2 {
  gap: 16px;
}

.btn-primary {
  background-color: #d2b48c;
  color: #0f0f0f;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #8b4513;
}
